<!-- Link Gitalk 的支持文件  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script> 
<script type="text/javascript" src="/assets/js/md5.min.js"></script>
<div id="gitalk-container"></div>     
<script type="text/javascript">
    var gitalk = new Gitalk({
 
    // gitalk的主要参数
        clientID: 'f29fbc8333e4d996b6d8',
        clientSecret: '4e597a65bbee8e9ba63f1d1cfb45335e0a743df3',
        repo: 'alliance.dreamcmi.cn',
        owner: 'DreamAlliance',
        admin: ['DreamAlliance'],
        id: md5(location.pathname),
        
    });
    gitalk.render('gitalk-container');
</script> 
<!-- Gitalk end -->